<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540267059415-foue5oc2oovjjuept47me4vp7vfj57ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540267059415-foue5oc2oovjjuept47me4vp7vfj57ds</string>
	<key>API_KEY</key>
	<string>AIzaSyAh9XH2U30m0GsVF-FFWV-P1jkuIWrLEOc</string>
	<key>GCM_SENDER_ID</key>
	<string>540267059415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okhasanbasri.VaktiHazar</string>
	<key>PROJECT_ID</key>
	<string>kartal-774b0</string>
	<key>STORAGE_BUCKET</key>
	<string>kartal-774b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540267059415:ios:b3b31272c55e354b9d3892</string>
	<key>DATABASE_URL</key>
	<string>https://kartal-774b0.firebaseio.com</string>
</dict>
</plist>